p{
    background-color: deeppink;
    color: aliceblue;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    text-indent: 5cm;
    word-spacing: 2cm;
    text-decoration: underline;
    line-height: 1cm;
    border: 5px solid black;
    outline: 5px solid yellow;
}
ul{
    list-style-type: square;
    list-style-position: outside;
}