form{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
body{
    background-image: url("images/css.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
 input[type=text],input[type=password]{
     width: 40%;
     border: 1px solid black;
     box-shadow: 4px 3px 5px 5px gray;
     height: 30px;
     border-radius: 10px;
 }
 input[type=submit]{
     width: 40%;
     border-radius: 10px;
     height: 30px;
     background-color: green;
 }
 input[type=submit]:hover{
     background-color: gray;
}